version: '3'

services:
  go:
    build:
      context: ./app
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    ports:
      - "{{ http_port }}:{{ http_port }}"
    user: app:app
    security_opt:
      - no-new-privileges:true
    environment:
      - PORT={{ http_port }}
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_NAME=${POSTGRES_DB}
      - NODE_NAME={{ node_name }}
    env_file:
      - .env
    networks:
      - app-net
    ulimits:
      nproc: 65535
      nofile:
        soft: 20000
        hard: 40000

  db:
    image: postgres:{{postgres_version}}
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    restart: unless-stopped
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d:ro
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
    env_file:
      - .env
    networks:
      - app-net
    ulimits:
      nproc: 65535
      nofile:
        soft: 20000
        hard: 40000

networks:
  app-net: